/*
Legt die Schriftart fest.
*/
body{
font-family: 'Oswald', sans-serif;
}

/*
Setzt die Koordinaten und das Aussehen jedes Elements Buttons "Feld zurücksetzen" fest.
*/
.Button{
    width: 200px;
    height: 50px;
    border: 2px solid black;

    text-align: center;
    line-height: 50px;
}

/*
Setzt den Rahmenstil auf eine durchgezogene Linie der Farbe Schwarz.
*/
#box{
    border: 1px solid black;
}

/*
Legt die Positionen der Elemente fest
*/
#clearButton{
    position: relative;
    left: 1125px;
    bottom: 700px;

}

#nameTag{
    position: relative;
    left: 1125px;
    bottom: 800px;

    font-size: 25px;
    border: 1px solid white;
}